/* CSS Root Variables */
:root {
  --bg-color: #f4f7f5;
  --bg-card: #ffffff;
  --primary: #031a6b;
  --primary-hover: #1f3583;
  --text-main: #111827;
  --text-muted: #4b5563;
  --border-color: #d1d5db;
  --accent: #088b4e;
  --font-family:
    -apple-system, BlinkMacSytemFont, "Segou UI", Arial, sans-serif;
  --transition-speed: 0.2s;
}

/* Reset Default CSS */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Declare Usage of CSS Vars */
html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-main);
  line-height: 1.6;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition:
    background-color var(--transition-speed),
    transform var(--transition-speed),
    border-color var(--transition-speed);
}

/* TAB key browsing */
.btn-focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 3px;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: var(--bg-card);
  color: var(--text-main);
  border-color: var(--border-color);
}

.btn-secondary:hover {
  background-color: var(--bg-color);
  border-color: var(--text-muted);
}

.btn-outline {
  background-color: var(--bg-card);
  color: var(--primary);
  border: 1px solid var(--border-color);
}

.btn-outline:hover {
  background-color: var(--primary);
  color: var(--bg-card);
}

.btn-block {
  display: flex;
  width: 100%;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}

.brand-logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-main);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
